# Development environment file
# Используйте этот файл в качестве шаблона для создания .env

SECRET_KEY=django-insecure-0if40nf4nf93n4
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=starburger
DB_USER=starburger
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# API Keys
YANDEX_GEOCODE_API_KEY=30fe0a4d-b905-496f-8134-b47534dcf6da
ROLLBAR_ACCESS_TOKEN=
